@import '../../../../../../shared/styles/flex-box';

.main-container {

  margin-top: 35px;

  .file-container {
    margin: 0;
    width: 50%;
    border: 1px solid #f00;
   // padding: 0.75rem;
  }
}

/*div {

  display: flex;
  flex-direction: row;
  justify-content: center;

  > div {

  }
}*/
